/*VARIABLES*/
:root {
  --color-primary-1: #edfafc;
  --color-primary-2: #70cfff;
  --color-primary-3: #70a9ff;

  --color-secondary-1: #48cae4;
  --color-secondary-2: #00b4d8;

  --color-white: #fff;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;

  --color-green-check: #18df06;
  --color-yellow-face: #fff600;

  --color-picker-1-berry-red: #b8255f;
  --color-picker-2-red: #ff0000;
  --color-picker-3-salmon: salmon;
  --color-picker-4-dark-orange: #ff8700;
  --color-picker-5-cyber-yellow: #ffd300;
  --color-picker-6-spring-bud: #a1ff0a;
  --color-picker-7-green: #0daf0d;
  --color-picker-8-medium-spring: #0aff99;
  --color-picker-9-elecctric-blue: #0aefff;
  --color-picker-10-azure: #147df5;
  --color-picker-11-han-purple: #580aff;
  --color-picker-12-electric-purple: #be0aff;
  --color-picker-13-magenta: magenta;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);

  --background-color: linear-gradient(
    to right bottom,
    var(--color-grey-light-1),
    var(--color-grey-dark-2)
  );
}

/*BREAK POINTS*/
$bp-largest: 75em; //1200px.
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* STYLE */
html {
  box-sizing: border-box;
  font-size: 62.5%; //62,5% = 1REM = 10px . 10/16=62,5

  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%; // 8px
  // }
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-3);
  background-image: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

h1 {
}

.container {
  width: 100%;
  height: 100vh;

  border-radius: 0px;
  // box-shadow: 0 2rem 6rem 0.5rem rgba(var(--color-grey-dark-1), 0.2);

  display: grid;
  grid-template-columns: minmax(4rem, 25rem) 1fr;
  grid-template-rows: auto calc(100vh - 6rem) auto;
  grid-template-areas:
    "nav head"
    "list project"
    "copy project";

  //FIX:poner media queries y revisar margin max height min height. revisar forkify
}
