.project {
  grid-area: project;
  overflow-y: auto;
  background-color: var(--color-white);
  padding: 2.3rem 4rem;

  &__name {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey-light-2);
    // border-top: 1px solid var(--color-grey-light-4); REVIEW: ver si poner lineas arriba para encasillar name y descr. lo mismo para tasky boton
  }

  &__description {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-grey-light-4);
  }

  &__task-list {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
    border-bottom: 1px solid var(--color-grey-light-2);
  }

  //FIX: aca quede, poner el resto de los svg fecha. tb poner fecha svg en titulo
  &__task {
    display: flex;
    align-items: center;

    svg {
      height: 1.3rem;
      width: 1.3rem;
      fill: var(--color-grey-dark-1);
    }
  }
}
