.project-list {
  grid-area: list;

  padding-top: 2rem;

  background-color: var(--color-primary-1);

  overflow-y: auto;
  overflow-x: hidden;
}

.preview {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 6px;
  height: 3rem;

  &:hover,
  &:active {
    background-color: var(--color-primary-2);
  }

  //clase activa
  &--active {
    background-color: var(--color-primary-2);
  }

  & button {
    &:hover {
      background-color: chartreuse;
    }

    display: flex;
    align-items: center;
    padding: 0 1rem 0 0.3rem;
    height: 3rem;
  }

  svg {
    height: 1.6rem;
    width: 1.6rem;

    fill: var(--color-primary-3);
    transition: all 0.4s;

    &:hover,
    &:active {
      fill: var(--color-grey-dark-3);
    }
  }

  //TODO:meter esta adetro de link
  &__title {
    padding-left: 10px;
  }

  &__link {
    &:hover {
      background-color: crimson;
    }
    height: 3rem;
    padding-left: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    // padding: 0.7rem 0 0.7rem 1rem;

    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-grey-dark-3);
  }
}

//FIX:arreglar para que tenga mas espacio arriba y abajo y no desaparezca
.copyright {
  grid-area: copy;
  display: flex;
  align-items: center;
  color: var(--color-grey-dark-2);
  font-size: 1rem;
  padding: 0 1rem;

  background-color: var(--color-primary-1);

  .portfolio {
    &:link,
    &:visited {
      color: var(--color-grey-dark-2);
    }
  }
}

.edit-project-window {
  background-color: var(--color-white);
  color: var(--color-grey-dark-2);
  position: absolute;
  transform: translate(180%, 10%);
  border-radius: 9px;
  cursor: pointer;

  padding: 1rem 0;
  box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.25);
  z-index: 200;
  transition: all 0.5s;

  & li {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: all 0.5s;
    list-style-type: none;
    padding: 2px 2rem;
    &:hover {
      background-color: var(--color-grey-light-3);
      // color: var(--color-secondary-2);
    }
  }

  & svg {
    fill: var(--color-grey-dark-2);
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 4px;
  }
}
